<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL Persons</title>
<!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">-->
</head>
<body class="container">

    <div th:if="${allPersons.isEmpty()}">
        <span>No persons</span>
    </div>

    <div th:each="person : ${allPersons}">
        <a th:href="@{http://localhost:8180/people/{id}(id = ${person.getId()})}"><span th:text="${person.toString()}"></span></a>
    </div>
    <br>
<hr>
<form method="post" th:action="@{/people/new}">
    <input type="submit" value="Добавить человека">
</form>

</body>
</html>