<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL Persons</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">

<span th:text="${personInfo.name} + ', ' + ${personInfo.year}"></span>
<br>
<span th:if="${personInfo.getBookList().isEmpty()}">Человек пока не взял ни одной книги</span>
<hr>
<div th:if="${!personInfo.getBookList().isEmpty()}">
    <h3>Книги:</h3>
    <span th:each="book : ${personInfo.getBookList()}">
    <span th:text="${book.toString()}"></span><br>
</span>
    <hr>
</div>
<form  th:action="@{http://localhost:8180/people/{id}/edit(id = ${personInfo.getId()})}" th:method="get">
    <button type="submit" class="btn btn-primary">Редактировать</button>
</form>

<form  th:action="@{http://localhost:8180/people/{id}(id = ${personInfo.getId()})}" th:method="DELETE">
    <button type="submit" class="btn btn-primary">Удалить</button>
</form>

</body>
</html>